<!-- Start Hero Section -->
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>{{ page.name }}</h1>
					<p><a href="/collections" class="btn btn-secondary me-2">Shop Now</a><a href="/" class="btn btn-white-outline">Explore</a></p>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="hero-img-wrap">
					<img src="{{ 'couch.png' | asset_url }}" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Hero Section -->

<!-- Start Main Page -->
<div class="product-section">
    <div class="container">
        <div class="row">
            {{ page.content }}
        </div>
    </div>
</div>
<!-- End Main Page -->

{%-schema-%}
{
    "label": "Main page"
}
{%-endschema-%}