<!-- Start Main Collection -->
<div class="product-section">
    <div class="container">
        <div class="row">
            Hi, 1
        </div>
    </div>
</div>
<!-- End Main Collection -->

{%-schema-%}
{
    "label": "Main Collection"
}
{%-endschema-%}