<!-- Start Main List Collections -->
<div class="product-section">
    <div class="container">
        <div class="row">
            Hi
        </div>
    </div>
</div>
<!-- End Main List Collections -->

{%-schema-%}
{
    "label": "Main List Collections"
}
{%-endschema-%}