<!-- Start Product Page -->
<div class="product-section">
    <div class="container">
        <div class="row">
            {{ product.name }}
        </div>
    </div>
</div>
<!-- End Product Page -->

{%-schema-%}
{
    "label": "Main Product"
}
{%-endschema-%}